<div class='flex flex-col'>
  <h1 class='text-center text-primary-2 mt-10'>Let’s take a look at your spending</h1>
  <p class='text-center body-1 text-primary-2 mt-4'>We need some information first, this will help us understand your spending habits. <br>Upload your CSV for the last 12 months below</p>

  <div class='flex justify-end items-center mt-22'>
    <h2 class='text-primary-2 mr-4'>
      {{#if (gt uploads.length 0)}}
        I also bank with
      {{else}}
        I bank with
      {{/if}}
    </h2>
    <div class='w-56 mr-4'>
      {{#power-select
        searchEnabled=false
        searchField=''
        tagName='div'
        placeholder='Select bank'
        options=banks
        selected=selectedBank
        onchange=(action (mut selectedBank))
        as |bank|
      }}
        {{bank}}
      {{/power-select}}
    </div>

    {{file-upload/input
      csv=upload
      selectedBank=selectedBank
      disabled=(not selectedBank)
    }}
  </div>

  <div class='grid grid-columns-2 grid-gap-4 mt-14'>
    {{#each uploads as |upload|}}
      {{file-upload/list-item
        csv=upload
      }}
    {{/each}}
  </div>

  <div class='flex flex-1 mb-14'>
    <div class='flex flex-col-reverse'>
      <div class='mx-auto'>
        <button class='btn-secondary hover:btn-secondary-hover w-56'>Previous</button>
        <button {{action 'categoriseSpending'}} class='btn-primary hover:btn-primary-hover ml-2 w-56' disabled={{not currentUser.user.transactions}}>Next</button>
      </div>
    </div>
  </div>
</div>