<div class={{routeStyleNamespaceClassSet}}>
  {{outlet}}

  {{#if (eq currentRouteName 'index')}}
    {{set-body-class 'bg-primary-4 overflow-hidden'}}
    <img class='w-12 absolute pin-t pin-l mx-auto mt-12 ml-12' src='/logo-only.png' />
    {{body-movin path='background_data' class='w-screen'}}
    {{body-movin path='lady_data' id='space_lady' class='absolute height-90 pin-t'}}
  {{/if}}

</div>
