{{set-body-class 'overflow-hidden'}}

<div class='w-full h-full flex flex-col justify-center'>
  <div class='relative w-72 mx-auto flex flex-col h-full justify-center' id='component_container'>
    
    {{!-- Create a new tag --}}
    <button class='mx-auto flex flex-col group' {{action createNewTag}}>
      <img 
        src='/icons/ic-plus.png'
        srcset='/icons/ic-plus@2x.png 2x,/icons/ic-plus@3x.png 3x'
        class='bg-white rounded-full p-3 mx-auto border border-shade-3 transition group-hover:icon-hover'
        alt='plus-icon'
      >
      <div class='text-center no-underline text-primary-1 mt-4 group-hover:btn-secondary-hover transition'>Create a new tag</div>
    </button>

    {{#each categories.parentCategories as |category|}}
      <IconButton @category={{category}} @onClick={{action 'selectCategory' category}} class="absolute text-center group {{join '-' (without '&' (w (lowercase category.name)))}}" as |button|>
        <button.icon @selected={{eq selectedCategory category}} />
        <button.label />

        <div class="category-list absolute">
          {{#if (eq selectedCategory category)}}
            {{#each category.children as |child_category|}}
              <span {{action changeCategory child_category}} class='py-3 mb-2 mr-2 px-4 bg-{{category-colour child_category.name}} text-white rounded-full inline-block float-left hover:pill-hover'>
                {{child_category.name}}
              </span>
            {{/each}}
          {{/if}}
        </div>
      </IconButton>
    {{/each}}


  </div>
</div>

<div class='mb-14 mx-auto'>
  <button class='btn-primary hover:btn-primary-hover w-56 mx-auto' {{action 'closeCategories'}}>Close categories</button>
</div>
