{{set-body-class 'overflow-hidden'}}

<div class='leisure absolute left-0 top-0 w-full h-full flex flex-col justify-center'>
  <div class='relative text-center mx-auto flex flex-col justify-center bg-white rounded px-6 py-8' id='new_component_container'>
    <button class='group' {{action 'closeModal'}}>
      <img 
        src='/icons/ic-plus-copy.png'
        srcset='/icons/ic-plus-copy@2x.png 2x,/icons/ic-plus-copy@3x.png 3x'
        class='absolute top-0 right-0 m-4 transition group-hover:btn-secondary-hover'
        alt='plus-icon'
      >
    </button>

    <h2 class='text-primary-2'>Create a new tag</h2>
    <p class='body text-primary-2 mt-4'>Which group does this tag belong to?</p>

    <div class='flex flex-row mt-6'>
      {{#each categories.parentCategories as |category|}}
        <IconButton @category={{category}} @onClick={{action 'selectCategory' category}} class={{join '-' (without '&' (w (lowercase category.name)))}} as |button|>
          <button.icon @selected={{eq selectedCategory category}} />
          <button.label />
        </IconButton>
      {{/each}}
    </div>

    <label for='tag_name' class='font-thin text-sm block text-primary-2 mt-4 text-left mt-8'>
      Tag name
    </label>
    {{input id='tag_name' value=tagName class='border rounded-sm h-12 mt-1 text-primary-2 focus:border-primary-1 p-4 w-full'}}
    <button class='btn-primary hover:btn-primary-hover w-56 mt-8 mx-auto' onClick={{perform createNewCategory}}>
      Create tag
    </button>
  </div>
</div>
