<div class="layout-row layout-wrap layout-align-center-center">
  <div class="bank {{if (eq selectedBank 'anz') '__selected'}}" id="anz" onClick={{action onSelect 'anz'}}>
    <img class="logo" src="/anz.png">
  </div>

  <div class="bank {{if (eq selectedBank 'asb') '__selected'}}" id="asb" onClick={{action onSelect 'asb'}}>
    <img class="logo" src="/asb.png">
  </div>

  <div class="bank {{if (eq selectedBank 'bnz') '__selected'}}" id="bnz" onClick={{action onSelect 'bnz'}}>
    <img class="logo" src="/bnz.png">
  </div>
</div>
