{{#if session.isAuthenticated}}
  {{primary-navigation}}
{{/if}}

<h1>{{#link-to 'index' id="site_header"}}Budgtr{{/link-to}}</h1>

<div class={{routeStyleNamespaceClassSet}}>
  {{outlet}}
</div>

{{#if session.isAuthenticated}}

  <input class="file--input" type="file" onChange={{action 'upload'}} />

  {{#each myData.data as |data|}}
    <p>{{data.Type}}, {{data.Details}} : {{data.Amount}}</p>
  {{/each}}

{{/if}}